metapub
litellm
trulens_eval
pydantic
fastapi
kaleido
python-multipart
uvicorn
cohere
openai
tiktoken
llama-index
transformers
sentence-transformers
pinecone-client
accelerate
einops
langchain
xformers
matplotlib
seaborn
tqdm
evaluate
accelerate[torch]
bitsandbytes
rank_bm25
langchain_core
langchain_openai
trulens_eval 
pydantic 
fastapi 
kaleido 
python-multipart 
uvicorn 
cohere 
llama-index
flask
requests
discord.py
deeplake
dotenv
python-dotenv
